Package: pif-gtk
Version: 0.0.1-1
Architecture: amd64
Maintainer: Lily <lily@hsmtp.uk>
Installed-Size: 20676
Depends: libc6 (>= 2.38), libglib2.0-0t64 (>= 2.28.0), libgtk-3-0t64 (>= 3.3.16), libgtk-3-0, libnotify4, systemd
Section: utils
Priority: optional
Homepage: https://github.com/soccera1/pif-gtk
Description: GTK-based piano practice song manager
 pif-gtk is a graphical tool for managing piano practice songs and their practice frequencies.
 It allows users to add, remove, and modify songs along with their practice intervals.
 The application integrates with the system's notification system to remind users of practice schedules.
