# This file is part of pif.
#
# pif is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# pif is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with pif.  If not, see <https://www.gnu.org/licenses/>.

[Unit]
Description=PIF Practice Reminder Service
After=network.target

[Service]
Type=oneshot
User=%i
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/%i/.Xauthority
ExecStartPre=/bin/sh -c 'if [ -f /home/%i/.pif ]; then while read -r line; do song=$(echo "$line" | cut -d" " -f1); freq=$(echo "$line" | cut -d" " -f2); if [ -n "$freq" ]; then last_notify_file="/home/%i/.pif_last_notify_$song"; if [ ! -f "$last_notify_file" ] || [ $(($(date +%s) - $(date -r "$last_notify_file" +%s))) -ge $(($freq * 86400)) ]; then echo "$song" > "$last_notify_file"; export SONG_TO_REMIND="$song"; notify-send "Practice Reminder" "Time to practice: $SONG_TO_REMIND"; fi; fi; done < /home/%i/.pif; fi'

[Install]
WantedBy=multi-user.target 