[Desktop Entry]
Name=pif-gtk
Comment=Simple song management tool
Exec=pif-gtk
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
Icon=/usr/share/pif-gtk/logo.png
